@import '/src/app/color-palette.scss';

.hint-section {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hint-title {
    color: $primary-white-text;
    font-family: Arial, sans-serif;
    align-self:center ;
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
    border-bottom: 3px solid ;
}

.hint-item{
    color: lightgrey;
    font-size: 1.1vw;
    font-family: monospace;
}
