<div class="user-configuration">
    <span class="user-configuration-title">Configuration de jeu</span>
    <div class="user-configuration-container">
        <div class="delay-setting-container">
            <label for="delay-select" class="user-config-label" id="delay-select-label">Temps avant le changement de
                question</label>
            <select name="delay-select" id="delay-select">
                <option value="15">15 secondes</option>
                <option value="30">30 secondes</option>
                <option value="45">45 secondes</option>
                <option value="60">1 minute</option>
                <option value="never">Jamais</option>
            </select>
        </div>
        <div class="delay-setting-container">
            <label for="delay-select" class="user-config-label" id="delay-select-label">Afficher les Indices</label>
            <input type="checkbox">
        </div>
        <button>Valider</button>
    </div>
</div>