<section *ngIf="numberOfCorrectAnswer > 1">
    Nombre de bonne réponses : {{ numberOfCorrectAnswer }}
</section>
<section *ngIf="getRole() === 'user'" class="answers-section">
    <div class="answers-container" *ngFor="let answer of getAnswers()"
        [ngClass]="{'selected-answer': isAnswerHidden(answer)}">
        <app-quiz-answer [answer]="answer" (answerSelected)="answerSelected(answer)"
            [ngClass]="{'hidden-answer': isAnswerHidden(answer)}"></app-quiz-answer>
    </div>
</section>
<section *ngIf="getRole() === 'admin'" class="answers-section-admin-view">
    <div class="answers-container" *ngFor="let answer of getMultiplayerAnswers()">
        <app-quiz-answer-multiplayer [answer]="answer"></app-quiz-answer-multiplayer>
    </div>
</section>