@import '/src/app/color-palette.scss';

.answers-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    margin-top: 50px;

}

.answers-section-admin-view {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.answers-container {
    position: relative;
    transition: opacity 0.3s ease-out;
}

.answers-container.selected-answer {
    pointer-events: none;
}

.hidden-answer {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}