/* Police et Base */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
    color: #333;
}

#container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Conteneurs */
#left-container, #middle-container, #right-container {
    padding: 20px;
}

#left-container {
    width: 33%;
    background-color: #ffffff;
    border-right: 2px solid #ddd;
}

#middle-container {
    width: 34%;
    background-color: #f4f4f4;
}

#right-container {
    width: 33%;
    background-color: #eaeaea;
    border-left: 2px solid #ddd;
}

/* Titre principal */
.title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Section Code */
#code {
    font-size: 20px;
    font-weight: bold;
    color: #28a745;
    margin-top: 20px;
}

/* Boutons */
.start-button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #218838;
}

/* Dropdown */
.dropdown {
    width: 100%;
    margin-bottom: 20px;
}

.dropdown select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Paramètres du Jeu */
.settings-group {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.settings-group label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.settings-group input[type="range"] {
    width: 80%;
    margin: 10px 0;
}


.settings-group span {
    font-size: 18px;
    color: #333;
}

select{
    width: 80%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: 5px;
}

.checkbox-group {
    margin: 15px 0;
}

#player-list {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacement entre les éléments de la liste */
    align-items: center; /* Aligner les éléments horizontalement au centre */
    margin-top: 100px;
}

