@import '/src/app/color-palette.scss';

.title{
    font-size: 2.0rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.profile-card-avatar {
  opacity: 0;
  margin-bottom: 1.5vh;
  border: 4px solid rgb(255, 255, 255);
}

.profile-card {
  background-color: $primary-white-bg;
  border-radius: 1vh;
  padding: 1.5vh;
  box-shadow: $primary-box-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s, background-color 0.3s;
  cursor: pointer;
}

.profile-card:hover {
  transform: translateY(-5px);
  background-color: $primary-btn-white-hover;
}



.hasAnswered {
  opacity: 1;
  border-radius: 50%;
  animation: appear 0.5s ease forwards;
}


.player-list-container{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 5vh;
}

.player-list-section{
    display: flex;
    gap: 2vh;
    margin-left: 2vh;
    align-items: center;
}

.profile-initials {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  background-color: $primary-blue-bg;
  color: $primary-white-text;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vh;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
