<div class="player-list-container">
    <section class="title">Acceuillis ayant répondu :</section>
    <section class="player-list-section">
        <div *ngFor="let profile of getPlayers()">
            <div class="profile-card-avatar">
                <div *ngIf="profile.profilePicture !== 'empty_path'">
        
                    <div class="profile-img"
                        [ngStyle]="{'background-image': 'url(http://localhost:9428/upload/' + profile.profilePicture + ')'}">
                    </div>
                </div>

                <div *ngIf="profile.profilePicture === 'empty_path'">
                    <div class="profile-initials">{{ getInitials(profile) }}</div>
                </div>
            </div>
        </div>
    </section>
</div>