@import '/src/app/color-palette.scss';

.button{
    padding: 1.0vh 2.0vh;
    height: 5.6vh;
    background-color: $third-blue-btn;
    color: $primary-btn-white-text;
    border: none;
    border-radius: 1.0vh;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 2.0vh;
    font-weight: bold;
}

.button:hover{
    background: $secondary-btn-blue-hover;
}


#leave-btn{
    position: absolute;
    width: 15vh;
    left: 5%;
    top: 5%;
    z-index: 16;
    background-color: $primary-btn-leave;
}

#leave-btn:hover{
    background-color: $primary-btn-leave-hover;
}


.join-game-section{
    background-color:$primary-white-bg;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.join-game-container{
    background-color: $primary-blue-bg;
    border-radius: 1.0vh;
    text-align: center;
    font-family: monospace;
    font-size: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
    width: min(60vh, 80vw);
}

.input-section{
    display: flex;
    flex-direction: column;
    gap: 1.0vh;
}

.join-game-code-input{
    height: 5.0vh;
    font-size: 2.0vh;
    padding-left: 1.0vh;
    border-radius: 1.0vh;
    border: none;

}

.join-game-title{
    margin: .0vh;
    font-weight: bold;
    color: $primary-white-text;
    user-select: none;
}

.separator{
    height: .1vh;
    color: $primary-white-bg;
    background-color: $primary-white-bg;
    width: 80%;
    margin-left: .0vh;
    margin-right:.0vh;
}

.wave{
    position: absolute;
    z-index: 3;
}

#top-wave{
    top: .0vh;
    left: .0vh;
    transform: translateY(-6vh);
}
