<div class="user-stats-container">
    <p class="user-stats-title">Statistiques Générales</p>

    <div class="user-stats-box">
        <div class="stats-details">
            <div class="general-stats-content">
                <img src="../../../assets/icons/game.svg" alt="Manette ico" class="general-stats-icon">
                <span class="user-stats-item">Nombre total de parties jouées : 17</span>
            </div>
            <div class="general-stats-content">
                <img src="../../../assets/icons/success.svg" alt="Success ico" class="general-stats-icon">
                <span class="user-stats-item">Taux de réussite moyen : 65 %</span>
            </div>
            <div class="general-stats-content">
                <img src="../../../assets/icons/clock.svg" alt="Clock ico" class="general-stats-icon">
                <span class="user-stats-item">Temps moyen de réaction : 7.8 secondes</span>
            </div>
            <div class="general-stats-content">
                <img src="../../../assets/icons/target.svg" alt="Manette ico" class="general-stats-icon">
                <span class="user-stats-item">Precision : 50 %</span>
            </div>
        </div>

        <div class="graph-container">
            <span class="graph-title">Répartition des Parties</span>
            <img src="../../../assets/graphs/diagramme-circulaire.png" alt="Diagramme circulaire"
                class="user-stats-chart" id="user-stats-circular">
        </div>
        <div class="graph-container">
            <span class="graph-title">Précisions par parties</span>
            <img src="../../../assets/graphs/precision-histogram.jpg" alt="Graphe" id="user-stats-graph"
                class="user-stats-chart">
        </div>
        <div class="graph-container">
            <span class="graph-title">Scores par parties</span>
            <img src="../../../assets/graphs/score-graphic.jpg" alt="Histogramme" id="user-stats-histogram"
                class="user-stats-chart">
        </div>
    </div>
</div>


<matrio-content class="additional-content"></matrio-content>