@import '/src/app/color-palette.scss';

.online-players {
  font-family: 'Segoe UI', sans-serif;
}

.online-players h2 {
  text-align: center;
  font-size: 2.6vh;
  font-weight: 600;
  color: $primary-black-text;
  margin-bottom: 2vh;
  border-top: 0.3vh solid $primary-blue-bg;
  border-bottom: 0.3vh solid $primary-blue-bg;
  border-radius: 2px;
  padding-bottom: 1vh;
  padding-top: 1vh;

}

.online-players ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 100vw;
  display: grid;
  gap: 1.5vh 2vh;
  grid-template-columns: repeat(auto-fit, 55vh);
  justify-content: center;
}




.player-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vh;
  padding: 1.8vh 2vh;
  background-color: #fefefe;
  border-radius: 1.4vh;
  box-shadow: 0 0.8vh 2vh rgba(0, 0, 0, 0.08);
  border: 1px solid #e4e4e4;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    background-color: #f2f2f2;
    box-shadow: 0 0.8vh 2vh rgba(0, 0, 0, 0.08);
    cursor: auto;
  }
}


.player-avatar {
  flex-shrink: 0;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.avatar-initials {
  width: 100%;
  height: 100%;
  background-color: $primary-blue-bg;
  color: white;
  font-size: 2vh;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.player-info {
  flex: 1;
  overflow: hidden;
}

.player-name {
  font-size: 2.2vh;
  font-weight: 500;
  color: #222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-button {
  background-color: $primary-blue-btn;
  color: $primary-btn-white-text;
  border: none;
  padding: 1.2vh 1.8vh;
  border-radius: 0.6vh;
  font-size: 1.6vh;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 0.3vh 0.6vh rgba(0, 0, 0, 0.08);

  &:hover {
    background-color: $primary-btn-blue-hover;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.97);
    background-color: $secondary-btn-blue-hover;
  }
}


#player-count{
  color: #b1b1b1;
}
