<div class="online-players">
  <h2>Autres joueurs en ligne  <span id="player-count">({{ playerList.length }})</span></h2>
  <ul>
    <li *ngFor="let player of playerList" class="player-card">
      <div class="player-avatar">
        <div *ngIf="player.profilePicture !== 'empty_path'" class="avatar-img"
             [ngStyle]="{'background-image': 'url(http://localhost:9428/upload/' + player.profilePicture + ')'}">
        </div>
        <div *ngIf="player.profilePicture === 'empty_path'" class="avatar-initials">
          {{ getInitials(player) }}
        </div>
      </div>
      <div class="player-info">
        <div class="player-name">{{ player.name }} {{ player.lastName }}</div>
      </div>
      <button class="add-button" (click)="addToGame(player)">+ Ajouter à la partie</button>
    </li>
  </ul>
</div>
