@import '/src/app/color-palette.scss';

.select-quiz-section{
  background-color: $primary-white-bg;
  height: 100vh;
  width: 100%;
  color: $primary-black-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

.select-quiz-title{
  position:absolute;
  top: calc(15% - min(6vh,6vw));
  font-size: min(6vh,6vw);
  font-family: Arial, Helvetica, sans-serif;
  color:$primary-black-text;
  font-weight: bold;
}

#tuto-btn {
  position: absolute;
  top: calc(17% - min(6vh,6vw)); // je reprend le code fait au dessus mais wtf ??
  right: 5vw;
  padding: 1.2vh 2.4vh;
  background-color: transparent;
  color: $third-blue-btn;
  border: 0.3vh solid $third-blue-btn;
  border-radius: 1vh;
  font-size: 1.8vh;
  font-weight: 600;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  letter-spacing: 0.05vh;
  transition: all 0.3s ease-in-out;
}

#tuto-btn:hover {
  background-color: $third-blue-btn;
  color: $primary-btn-white-text;
  transform: translateY(-0.3vh);
}


.button{
  width: 16vh;
  height: 6vh;
  padding: 1.2vh 2.4vh;
  background-color: $third-blue-btn;
  color: $primary-btn-white-text;
  border: none;
  border-radius: 1vh;
  font-size: 1.8vh;
  font-weight: 600;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  letter-spacing: 0.05vh;
  transition: all 0.3s ease-in-out;
  box-shadow: $primary-box-shadow;
}

.button:hover{
  background: $secondary-btn-blue-hover;
  transform: translateY(-0.3vh);
  box-shadow: $primary-box-shadow;
}

#leave-btn{
  position: fixed;
  background-color: $primary-btn-leave;
  left: 5vh;
  top: 5vh;
  z-index: 15;
}

#leave-btn:hover{
  background-color: $primary-btn-leave-hover;
}

.select-quiz-container{
  width: 80%;
  height: 85%;
  position: absolute;
  padding: 0vh 2vw 3vh 2vw;
  border-radius: 1vh;
  top: 15%;
}

.wave{
  position: fixed;
  bottom: 0vh;
  transform: translateY(5vh);
}
