<div class="quiz-history">

    <span class="quiz-history-title">Historique des quiz</span>
    <div class="findName">
        <div class="quiz-history-content">
            <a href="/personal-quiz-stats.html" class="quiz-item">
                <span class="quiz-name">Titre Quiz</span>
                <span class="quiz-date">01/01/25</span>
                <span class="quiz-score">Score: 15/20</span>
            </a>
            <a href="/personal-quiz-stats.html" class="quiz-item">
                <span class="quiz-name">Titre Quiz</span>
                <span class="quiz-date">01/01/25</span>
                <span class="quiz-score">Score: 15/20</span>
            </a>
            <a href="/personal-quiz-stats.html" class="quiz-item">
                <span class="quiz-name">Titre Quiz</span>
                <span class="quiz-date">01/01/25</span>
                <span class="quiz-score">Score: 15/20</span>
            </a>
            <a href="/personal-quiz-stats.html" class="quiz-item">
                <span class="quiz-name">Titre Quiz</span>
                <span class="quiz-date">01/01/25</span>
                <span class="quiz-score">Score: 15/20</span>
            </a>
        </div>
    </div>
</div>