@import '/src/app/color-palette.scss';



.admin-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 20vw;
  background-color: $secondary-blue-bg;
  padding: 1vw;
  box-shadow: 0.1vw 0 0.3vw rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 10;
  transition: none;
}

.home-btn {
  margin-top: auto;
}

.sidebar-btn {
  display: flex;
  margin-bottom: 0.5vw;
  align-items: center;
  gap: 0.5vw;
  width: 100%;
  padding: 0.6vw;
  background-color: $third-blue-btn;
  border: none;
  color: $primary-btn-white-text;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.3vw;
  transition: all 0.3s ease;

  &:hover {
    background-color: $secondary-btn-blue-hover;
    transform: scale(1.03);
  }

  &:active {
    transform: scale(1.02);
  }

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// Styles pour le sous-menu
.submenu {
  max-height: 0;
  transition: max-height 0.3s ease-out;
  margin-left: 0.8vw;
  margin-bottom: 0.5vw;

  &.open {
    max-height: 10vw; // Hauteur suffisante pour contenir tous les sous-éléments
  }
  &.closed {
    overflow: hidden;
  }

  .submenu-btn {
    background-color: $third-blue-btn;
    font-size: 0.8vw;
    padding: 0.5vw;
    margin-bottom: 0.4vw;

    &:hover {
      background-color: $secondary-btn-blue-hover;
    }
  }
}

.logo {
  height: 1.2vw;
  width: 1.2vw;
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  padding: 1vw;
  background-color: $primary-white-bg;
  border-radius: 0.4vw;
  margin: 1vw;
  width: 80vw;
  box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
  overflow: auto;
  position: relative;
}

.section-title {
  color: $primary-black-text;
  margin-bottom: 1vw;
  font-size: 1.5vw; //TODO
  font-weight: 600;
  display: flex;
  align-items: center;

  &::after {
    content: '';
    flex-grow: 1;
    height: 0.1vw;
    background-color: $primary-white-bg;
    margin-left: 0.8vw;
  }
}

.acceuilli-section {
  display: flex;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.profiles-panel {
  flex: 1;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  padding-right: 1vw;

  &.collapsed {
    max-width: 35%;
    min-width: 300px;
  }
}

.config-panel {
  flex: 2;
  position: relative;
  height: 100%;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.05);
  border-left: 1px solid $primary-border-white;
  animation: slideIn 0.3s ease-in-out;
  background-color: $primary-white-bg;
  scroll-behavior: smooth;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.profile-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: $primary-white-bg;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-white-bg;
}

@media (max-width: 1024px) {
  .profiles-panel.collapsed {
    min-width: 250px;
  }
}

@media (max-width: 768px) {
  .admin-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    min-width: auto;
    padding: 10px;
  }

  .content {
    margin: 10px;
  }

  .acceuilli-section {
    flex-direction: column;
  }

  .profiles-panel {
    max-width: 100%;

    &.collapsed {
      max-width: 100%;
      min-width: auto;
    }
  }

  .config-panel {
    margin-top: 20px;
  }
}

.home-page-title {
  position: absolute;
  font-size: 5vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: calc(50vh - 12vw);
  height: 70%;
  width: 100%;
  color: $primary-blue-text;
  user-select: none;
  font-family: "Unbounded", sans-serif;

}


#subText {
  position: absolute;
  top: 50%;
  font-size: 2vw;
  width: 100%;
  text-align: center;
  color: $secondary-white-text;
  user-select: none;
}


.select-quiz-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid gray;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  50% { -webkit-transform: rotate(150deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { -webkit-transform: rotate(150deg); }
  100% { -webkit-transform: rotate(360deg); }
}
