<div class="person-infos-container">
    <div class="person-infos-box">
        <p class="name">Jean Jass</p>
        <div class="person-info-item">
            <img src="../../../assets/icons/email.svg" class="profile-icon" alt="email-picture">
            <p class="email">email@exemple.com</p>
        </div>
        <div class="person-info-item">
            <img src="../../../assets/icons/phone.svg" class="profile-icon" alt="phone-picture">
            <p class="phone-number">+33 7 63 33 27 37</p>
        </div>
        <div class="person-info-item">
            <img src="../../../assets/icons/home.svg" class="profile-icon" alt="home-picture">
            <p class="address">64 Chem. de Vallauris, 06410 Biot</p>
        </div>
    </div>
    <div class="profile-picture-container">
        <img src="../../../assets/profile-pictures/senior.jpeg" alt="Photo Accueillis" class="profile-picture">
    </div>
</div>

<matrio-content></matrio-content>