<div class="multiplayer-game-setup-container">
  <app-multiplayer-game-setup-sidebar (launch_game)="launchGame()"
    class="multiplayer-game-setup-sidebar left-side"></app-multiplayer-game-setup-sidebar>
  <section class="right-side">
    <div class="players-container">
      <div class="players-in-game">
        <app-multiplayer-profile-list class="profile-list"></app-multiplayer-profile-list>
      </div>
      <div class="players-online">
        <app-online-players class="online-list"></app-online-players>
      </div>
    </div>
  </section>



</div>



<!--<app-profile-list></app-profile-list>-->
